# alexnet
alexnet/*.txt
alexnet/run*

# googlenet
googlenet/*.txt

# resnet
resnet/*.txt

# resnext
resnext/__pycache__/*

# vggnet
vggnet/*.txt



# wrn
wrn/wrn*
wrn/*.txt
wrn/__pycache__/*
wrn/cifar-100-binary/*
wrn/cifar-100-binary.tar.gz
